.about{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    margin: 0 auto;
    padding: 3em 0;
    &__title{
        text-transform: uppercase;
        font-size: 4rem;
        line-height: 5.1rem;
        padding: 0 0.5em; 
    }
    &_text{
        font-size: 1.4rem;
        line-height: 2.8rem;
        padding: 0 2em; 
    }
}
.container{
    width: 100%;
}