.projects {
	height: 100%;
	padding: 3em 1em;
	&__box {
		width: 100%;
		padding: 1em 0;
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
	}
	&__title {
		text-transform: uppercase;
		font-size: 4rem;
		text-align: center;
		width: 100%;
		
		font-weight: bold;
	}
	&__grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 2em;
	}
}

@media (max-width: 992px) {
	.projects {
		&__title {
			font-size: 2.5rem;
			line-height: 4rem;
		}
		&__grid{
			grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		}
	}
}
