.skills-box {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column; /* Change to column direction */
  align-items: center;
  justify-content: center;
}

.skill {
  display: flex;
  align-items: center;
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  margin: 2em;
  border-radius: 5px;
  animation: falling 2s linear infinite; /* Apply animation */
}

.skill i {
  margin-right: 5px;
  font-size: 5rem;
}

@keyframes falling {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
